* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f2e7db;
  outline: none;
  border: none;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-weight: bold;
  background-color: #f2e7db;
  border-bottom: 2px solid #735c48;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.nav-bar h1 {
  font-weight: bold;
  font-size: 20px;
  color: #735c48;
  text-decoration-color: #735c48;
}

a{
  color:#735c48;
}

.mute{
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  align-items: center;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-items: center;
}

.mute-item{
  text-align: center;
  margin-bottom: 20px;
}

.mute-item img{
  width: 220px;                    
  height: 220px;
  border-radius: 10px;
  object-fit:cover;
}

.mute-item p{
    font-size: 20px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mute-item strong{
  font-size: 21.5px;
}

h1{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 23px;
}