* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f2e7db;
  border-bottom: 2px solid #ddd;
  outline: none;
  border: none;
  text-decoration: none;
}

.rosin{
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  align-items: center;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-items: center;
}

.rosin-item{
    text-align: center;
}

.rosin-item img{
  width:auto;                     
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.rosin-item p{
    font-size: 20px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h1{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 23px;
}

