* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-weight: bold;
  background-color: #f2e7db;
  border-bottom: 2px solid #ddd;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
}

body {
  background-color: #f2e6db; 
  color: #2d2d2d;
}

h2{
  font-size: 17px;
}

/* Main Layout */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 30px;
}

/* Info section (left side) */
.info-section h1 {
  font-size: 1.8rem;
  margin-left: 15px;
}

.info-section p {
  margin-bottom: 20px;
  font-size: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 30px;                        
  margin-top: 30px;   
  margin-left: 30px;
  margin-right: 30px;
  width:auto;
}

.catergory{
  text-align: center; 
  width:1fr,1fr;
}

.category h2 {
  margin-bottom: 12px; 
}

.category img {
  width: 100%;                     
  height: auto;
  border-radius: 12px;            
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
  transition: transform 0.3s ease;
}

.category img:hover {
  transform: scale(1.05);          
}

/*Violin image (right side)*/
.violin-image img {
  width: 30%;
  border-radius: 10px;
  object-fit:contain;
  align: center;
}

/*Footer*/
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}